@{
    ViewBag.Title = "About";
    ViewBag.Message = "Welcome";
}
<h2 class="page-title">About Dialecto</h2>
<h3> </h3>

<p>The creator of Dialecto is a dedicated student of the Arabic language. With inspiration from such other programs as Aratools and The Aramaster, Dialecto was developed to aid in the study of the Arabic language.</p>
<p>The advantage of Dialecto is that due to the way Roots and Words are related and stored in the Database, we should evenutally be able to have full functionality of several dictionaries across various dialects, as well as displaying the measure patterns (hopefully eventually linking to the actual word displayed in the measure pattern).</p>
<p>While most dictionaries available will have either Fusha (MSA) definitions or be a dialect-specific dictionary (whose meanings change relatively quickly), Dialecto has local and slang meanings that can be contributed by users, and also voted on, ranked, and given additional context and instruction for use or understanding by non-natives.</p>
