@{
    ViewBag.Title = "Contact";
}
<h2 class="page-title">Contact</h2>
<h4>We are always looking for feedback</h4>

<address>
    Street Address<br />
    Town, State ZIP<br />
    <abbr title="Poot">P:</abbr>
    317.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Dialecto@gmail.com">You Broke Something</a><br />
    <strong>Marketing:</strong> <a href="mailto:Dialecto@gmail.com">You Want To Give Me Money</a>
</address>