@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="main-jumbo-header">
        <h1>Dialecto</h1>
    </div>
    <p class="body-content" style=" color:white;"> Designed as an aide for Arabic learners - from about beginner-intermediate to expert - Dialecto takes advantage of a feature of the Arabic language that, after a sometimes difficult introduction, allows mastery and efficient memorization. Also, a student with a good knowledge of the Root/Measure System of Arabic will more likely to be able to intuit the meaning of a word upon first exposure. </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-8 container">
        <div class=" main-blurb">
            <h2>The Arabic Root</h2>

            <p>
                Usually consisting of between two to four letters, the vast majority consisting of three letters, roots are a cornerstone of the semetic languages like Arabic, Hebrew, or Amharic. Arabic does not have prefixes and suffixes, like English does. De-Struction vs. Con-Struction.
            </p>
            <p>
                Instead, Arabic has infixes, where consistant patterns are applied to add letters to the front, middle, or end of a Root in order to make a word. قبل consists of the letters ق + ب + ل and is itself a root. A root does not necessarily have a meaning or used like a word, but rather a basic concept or two attached to it. قبل usually has to do with accepting something. Likewise قبلة is a kiss - an indication of acceptance, no? And further, استقبال is the 10th Measure's pattern applied to the root. It means "Reception".
            </p>
            <p>
                Measures are consistant patterns by which those infixes are added to roots to construct a word. Another derivative of the Measure 10 root, المستقبل etymologically would mean something like "The thing recieved", but of course this word is the most common Arabic word for "the future." What else can one one reliably recieve? Time keeps on slipping into the future for us all... Such is one of the bases of the efficacy of Arabic poetry, and one of the things that makes the vocabulary bank so massive.
            </p>

            <p><a class="btn btn-default" style="background-color: #ff9a26" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Roots &raquo;</a></p>
        </div>
    </div>
</div>

</div>