
.navbar-header a.navbar-brand{
    color:#ff9a26;
    font-display:block;
}

.navbar-brand{
    color: black;
}

.page-title {
    color: #ff9a26;
    text-shadow:1px 1px 1px #ff8326
}

.jumbotron {
    background-image: url('Assets/splash.jpg');
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #f00138;
    background-size: 100% 115%;
    height: 300px;
    position: relative;
}
    .jumbotron h1,
    .jumbotron .h1 {
        font-family: Andalus;
        text-transform: uppercase;
        background: linear-gradient(to right, #ff9a26 0%, #000000 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .jumbotron main-jumbo-header {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #ff9a26, #000000 70%);
    }
    .jumbotron p.body-content{
        background-color:transparent;
        font-family: Aldhabi, Helvetica, sans-serif;
        font-size: 22px;
        line-height: 18px;
        padding:0px 25% 0px 0px;
        margin-bottom: 2px;
        position: absolute;
        bottom: 5px;
        left: 10px;        
    }

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: cornflowerblue;
    font-size:medium;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

.main-blurb{
    background-color:cornflowerblue;
    font-size: medium;
    margin-left: 4px;
    margin-right:4px;
}



